body {
    background: #eaf3ff;
    font-family: Arial, sans-serif;
}

.card {
    background: #ffffff;
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 80, 200, 0.3);
}

h1, h2 {
    color: #0059ff;
}

input, select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid gray;
}

button {
    width: 100%;
    padding: 12px;
    background: #006aff;
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0047c7;
}

.logout-btn {
    background: red;
}

.error {
    color: red;
    font-size: 14px;
}
